.navbar-default{
  background-color: #FFF;
  font-size: 16px;
  //background-color: $footer-background;
  border-top: 7px solid $brand-primary;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $brand-primary;
}

.navbar-default .navbar-nav > li > a {
    color: $brand-primary;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $brand-primary;
}

.navbar-default .navbar-text {
    color: $brand-primary;
}

.navbar-default .navbar-brand{
  font-size: 36px;
}
