<style type="text/css">
    div.helpTable {
      border: 1px solid #ddd;
      background-color: transparent;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
    }
    .divTable.helpTable .divTableCell, .divTable.helpTable .divTableHead {
      border: 1px solid #AAAAAA;
      padding: 3px 2px;
    }
    .divTable.helpTable .divTableBody .divTableCell {
      font-size: 13px;
    }
    .divTable.helpTable .divTableRow:nth-child(even) {
      background: #D0E4F5;
    }
    .divTable.helpTable .divTableHeading {
      background: #1C6EA4;
      background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      border-bottom: 2px solid #444444;
    }
    .divTable.helpTable .divTableHeading .divTableHead {
      font-size: 15px;
      font-weight: bold;
      color: #FFFFFF;
      border-left: 2px solid #D0E4F5;
    }
    .divTable.helpTable .divTableHeading .divTableHead:first-child {
      border-left: none;
    }

    .helpTable .tableFootStyle {
      font-size: 14px;
      font-weight: bold;
      color: #FFFFFF;
      background: #D0E4F5;
      background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      border-top: 2px solid #444444;
    }
    .helpTable .tableFootStyle {
      font-size: 14px;
    }
    .helpTable .tableFootStyle .links {
    	 text-align: right;
    }
    .helpTable .tableFootStyle .links a{
      display: inline-block;
      background: #1C6EA4;
      color: #FFFFFF;
      padding: 2px 8px;
      border-radius: 5px;
    }
    .helpTable.outerTableFooter {
      border-top: none;
    }
    .helpTable.outerTableFooter .tableFootStyle {
      padding: 3px 5px;
    }
    /* DivTable.com */
    .divTable{ display: table; }
    .divTableRow { display: table-row; }
    .divTableHeading { display: table-header-group;}
    .divTableCell, .divTableHead { display: table-cell;}
    .divTableHeading { display: table-header-group;}
    .divTableFoot { display: table-footer-group;}
    .divTableBody { display: table-row-group;}
</style>
