// progress bar junk
.progress-bar {
  float:left;
  display:block;
  background:#eee;
  padding:20px;
  width:100%;
  text-align:center;
  display:none !important;
  span {
     width:100%;
     display:block;
     margin:20px 0;
  }
  progress {
    width:100%;
  }
}
