// overrides for heading banner text in jumbotron
$heading-color: #0033A0;
$subheading-color: #2C2A29;

$blue: #002855;
$gold: #ED8B00;
$border: 2px solid #e1e1e1;
$grayText: #4e4e4e;
$footer-background: #EEE;
$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;
$ftrHght: 50px;
