.git
.idea
.env*
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
# Homestead.json
# Homestead.yaml
# composer.lock
.DS_Store
.log
# /resources/views/vendor
/coverage
nohup.out
