.git
.idea
.env
.env.dev
.env.prod
.env.mysql
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
.DS_Store
.log
# /resources/views/vendor
/coverage
nohup.out
.phpunit.result.cache
