
footer{
  height: $ftrHght;
  width: 100%;
  float: left;
  left: 0;
  background: $footer-background;
  padding: 10px;
  //border-top: $border;

  .builtBy {
    color: $grayText;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:16%;
    min-width:250px;
    float:right;
    text-align:right;
  }

  .built, .by { font-weight: 300; }
  .wvu { color: $blue; }
  .libs { color: $gold; margin-left:-6px; }
}
